// Text Color
$text-white: #fff;
$text-gray: #757575;
$text-blue: #186AB4;
$text-black: #121212;
$text-light-black: #262626;


// Background Color
$bg-error: #f2dede;
$bg-blue: #186AB4;
$bg-dark-gray: #262626;
$bg-light-gray: #F0F0F0;
$bg-very-light-gray: #F2F2F2;
$bg-header: #12203a;
$bg-white: #fff;

// Border Color
$bd-error: #ebccd1;
$bd-blue: #186AB4;
$bd-gray: #757575;

// Text Font
$primary-font: 'Oswald', sans-serif;

// Border Color
$border-gray: #ccc;

// Screen size
$mobileXS: 480px;
$mobileS: 600px;
$mobileL: 740px;
$tablet: 992px;
$desktop: 1366px